* { 
	box-sizing: border-box; 
	outline: 0 
}
body { 
	background: #999 
}
main {
	display: grid;
	grid-template-columns: 3fr 1.5fr;
	gap: 10px;
	margin: 15px auto 30px;
	width: 90%;
	border: 1px solid #777;
}
section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	border-right: 1px solid #777;
	padding: 10px;
}
section div {
	border: 1px solid darkorange;
	min-height: 20px;
}
aside {
	padding: 10px;
}
img {
	display: block;
	width: 100%;
}
input {
	display: none;
}
input:checked ~ img {
	box-shadow: 0 0 2px 3px darkred;
	border: 1px solid darkorange;
}